* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #001233;
  color: white;
}

header {
  text-align: center;
  margin-bottom: 80px;
}

header h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.piano {
  position: relative;
  width: 656px;
  height: 220px;
  background-color: black;
  display: flex;
}

.nota {
  cursor: pointer;
}

.sostenida {
  width: 90px;
  height: 210px;
  margin-left: 3px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bemol {
  position: absolute;
  width: 50px;
  height: 140px;
  background-color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.light {
  background-color: #8da5ed;
}

.do {
  left: 70px;
}

.re {
  left: 162px;
}

.fa {
  left: 348px;
}

.sol {
  right: 165px;
}

.la {
  right: 73px;
}

.start {
  width: 700px;
  height: 260px;
  position: absolute;
  top: 195px;
  background-color: rgba(255, 255, 255, 0.534);
  border-radius: 8px;
  text-align: center;
}

.btn {
  margin-top: 70px;
  width: 210px;
  height: 66px;
  background-color: #000080;
  border: none;
  border-bottom: 4px solid #000073;
  border-radius: 5px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}

.btn:hover {
  background: #323299;
  border-bottom: 4px solid #2d2d89;
}

.hide {
  display: none;
}
